# Environments
venv/
env/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac OS
.DS_Store

# Data files (usually too large for GitHub)
*.npy
*.npz
*.csv
*.pt
*.pth

# IDEs
.vscode/
.idea/
